div {
    background-color: rgb(215, 215, 215);
    text-align: center;
    margin: 100px;
}

#calculateBtn {
    margin-top: 0.30rem;
}

#result {
    margin-top: 20px;
    padding-bottom: 5%;
}

input {
    margin-bottom: 3px;
}